<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Flask App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
<h1>МФТИ.Meet</h1>



<p><img src=https://idproctor.mipt.ru/public/event/58/66/09/953fb_2a82.png?t=108a alt="A Great HTML Resource"></p>
<hr>
<p>a link to my<a href="https://github.com/LordHomie" target="_blank">github page</a></p>
<!-- And add a copyright notice.-->
<p>&#169; Homie Publishing, 2020</p>
</body>
</html>