
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
<body>




    <div class="bg-nav text-light d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <a class="my-1 mr-md-auto font-weight-normal font-size:40px text-light" href="/home">Физтехграм</a>

      <div class="my-1 mr-md-auto font-weight-normal font-size:40px text-light">
          <div class="form">
              <form class="search" method="post" action="/search">
                  <input type="text"  id='search' class="searchTerm" placeholder="What are you looking for?" name="name">
                  <button type="submit" class="searchButton">
                       <i class="fa fa-search"></i>
                </button>
              </form>
<!--              if(search.value.length) {-->

<!--              }-->
          </div>
      </div>

      <nav class="my-2 my-md-0 mr-md-3 text-light">
            {% if session['logged_in'] %}
                <a class="p-2 text-dark">{{ name }}</a>
            {% endif %}
        <a class="p-2 text-light btn" href="/home">Home</a>
        <a class="p-2 text-light btn" href="/messages">messages</a>
        <a class="p-2 text-light btn" href="/myprofile">My profile</a>
        <a class="p-2 text-light btn " href="/settings">Settings</a>
      </nav>
      <a class="text-dark btn btn-outline-primary" href="/logout">Logout</a>
    </div>

        <form class="form" method="post" action="/add_post" enctype="multipart/form-data">
            <input name="feeds" id="comments" placeholder="Hey... say something!" style="width:40%;height:60px;padding:3%;font:1.4em/1.6em cursive;background: linear-gradient(to right, #00dbde, #fc00ff);color:black;">
            <p><input type="file"  accept="image/*" class="form-control" name="file" id="file" onchange="loadFile(event)" style="display: none;"></p>
            <p><label for="file" style="cursor: pointer;">Click here to upload picture</label></p>
            <input type=submit value=Submit>
            <p><img id="output" width="200" /></p>
        </form>

        <script>
                    var loadFile = function(event) {
                    var image = document.getElementById('output');
                    image.src = URL.createObjectURL(event.target.files[0]);
                };
        </script>
<!--        <button type="button" class="btn btn-outline-primary">-->
<!--          <p><input type="file"  accept="image/*" class="form-control" name="file" id="file" onchange="loadFile(event)" style="display: none;"></p>-->
<!--          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-camera-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">-->
<!--&lt;!&ndash;          <p><label for="file" style="cursor: pointer;"></label></p>    &ndash;&gt;-->
<!--              <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"></path>-->
<!--              <path fill-rule="evenodd" d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"></path>-->
<!--          </svg>-->
<!--        </button>-->

    {%- for item1 in user %}
            {%- for item2 in feed %}
                {%- for item3 in image %}
        {{ item1 }} {% if not loop.last %},{% endif %}<br>
                {{ item2 }} {% if not loop.last %},{% endif %}<br>
                    <img src="/static/images/{{ item3 }}" width="180" height="180"><br>  {% if not loop.last %},{% endif %}<br><br>


    {%- endfor %}
    {%- endfor %}
    {%- endfor %}

<!--    write here your design. check the video from 34:00 till 41:00-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>