<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
<body>




    <div class="bg-nav text-light d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <a class="my-1 mr-md-auto font-weight-normal font-size:40px text-light" href="/home">Физтехграм</a>

        <div class="my-1 mr-md-auto font-weight-normal font-size:40px text-light">
          <div class="search">
              <form class="form" method="post" action="/search">
                  <input type="text" class="searchTerm" placeholder="What are you looking for?" name="name">
                  <button type="submit" class="searchButton">
                       <i class="fa fa-search"></i>
                </button>
              </form>
          </div>
      </div>

      <nav class="my-2 my-md-0 mr-md-3 text-light">
          {% if session['logged_in'] %}
        <a class="p-2 text-dark">{{ name }}</a>
          {% endif %}
        <a class="p-2 text-light btn" href="/home">Home</a>
        <a class="p-2 text-light btn" href="/myprofile">My profile</a>
        <a class="p-2 text-light btn " href="/settings">Settings</a>
      </nav>
      <a class="text-dark btn btn-outline-primary" href="/logout">Logout</a>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
          <div class="card mt-100">
            <div class="card-body">
              <form class="form" method="post" action="/edit_settings">
                <label>University name</label><br>
                <input type="text" class="form-control" name="university" value="{{ university }}"><br>
                <label>Birthday date</label><br>
                <input type="date" class="form-control" name="birthday" value="{{ birthday }}"><br>
                <label>Hometown</label><br>
                <input type="text" class="form-control" name="hometown" value="{{ hometown }}"><br>
                <label>Status</label><br>
                <input type="text" class="form-control" name="status" value="{{ status }}"><br><br>
                <input type="submit" class="btn btn-primary btn-block btn-lg" value="submit">
              </form>


                <form class="form" method="post" action="/add_picture">
                <p><input type="file"  accept="image/*" class="form-control" name="photo" id="file" onchange="loadFile(event)" style="display: none;"></p>
                <p><label for="file" style="cursor: pointer;">Click here to upload picture</label></p>
                <input type=submit value=Submit>
                <p><img id="output" width="200" /></p>
                </form>

                <script>
                    var loadFile = function(event) {
                    var image = document.getElementById('output');
                    image.src = URL.createObjectURL(event.target.files[0]);
                };
                </script>
<!--                <img src="{{ url_for('.static', filename='images/IMG_2165.JPG') }}" width="200" height="200">-->
<!--                <img src="{{ url_for('.static', filename='images/IMG_2165.JPG') }}" width="200" height="200">-->
<!--                <a class="p-2 text-dark">{{ photo }}</a>-->

            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--    write here your design. check the video from 34:00 till 41:00-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>